# Nakili faili hii kuwa ".env" (kwenye folder moja na email_helper.php)
# kisha jaza thamani halisi. USIWEKE ".env" kwenye Git/GitHub - iongeze
# kwenye .gitignore.

GMAIL_USER=tech5gwifi@gmail.com
GMAIL_APP_PASSWORD=weka_app_password_mpya_hapa
